* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	color: white;
}
.container {
	height: 100vh;
	width: 100%;
	background-image: url(wp2908940-4024707083.png);
	background-position: center 70%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 2rem;
	overflow-y: hidden; 
    overflow-x: hidden;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

//Emmanuel contribution

.game-container {
	padding: 20px 30px;
	position: relative;
	margin: auto;
	height: 350px;
	width: 450px;
}

.figure-container {
	fill: transparent;
	stroke: #fff;
	stroke-width: 4px;
	stroke-linecap: round;
}

.figure-part {
	display: none;
}

.wrong-letters-container {
	position: absolute;
	top: 40px;
	right: 20px;
	display: flex;
	flex-direction: column;
	text-align: right;
}

.wrong-letters-container p {
	margin: 0 0 5px;
}

.wrong-letters-container span {
	font-size: 24px;
}

.word {
	display: flex;
	position: absolute;
	top: 15rem;
	left: 50%;
	transform: translateX(-50%);
}

.letter {
	border-bottom: 3px solid #2980b9;
	display: inline-flex;
	font-size: 30px;
	align-items: center;
	justify-content: center;
	margin: 0 3px;
	height: 50px;
	width: 20px;
}

.popup-container {
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	align-items: center;
	justify-content: center;
}

.popup {
	background-color: #2980b9;
	border-radius: 5px;
	box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
}

.popup button {
	cursor: pointer;
	background-color: #fff;
	color: #2980b9;
	border: 0;
	margin-top: 20px;
	padding: 12px 20px;
	font-size: 16px;
}

.popup button:active {
	transform: scale(0.98);
}

.popup button:focus {
	outline: 0;
}

.notification-container {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px 10px 0 0;
	padding: 15px 20px;
	position: absolute;
	bottom: -50px;
	transition: transform 0.3s ease-in-out;
}

.notification-container p {
	margin: 0;
}

.notification-container.show {
	transform: translateY(-50px);
}

h1 {
	margin: 2rem auto;
	color: rgb(33, 239, 33);
	font-size: 5rem;
}
#startButton {
	display: block;
    margin: 2rem auto 0px;
    padding: 10px 10px;
    background-color: rgb(33, 239, 33);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 2rem;
    width: 50%;
    font-size: 2rem;
    position: relative;
    bottom: 9rem;
}

#word {
	font-size: 4rem;
	text-align: center;

	/* position: absolute;
    bottom: auto; */
}
#message {
	padding-top: 6rem;
	font-size: 2.3rem;
	color: rgb(33, 239, 33);
	margin-top: 3rem;
	text-align: center;
    position: relative;
    top: -15rem;
}
#tries,
#timer {
	font-size: 2.2rem;
	font-weight: bold;
	margin: 2rem 0px;
	text-align: center;
	position: relative;
	top: -15rem;
}

/* .message__container{
    position: absolute;
    bottom: 50px;
    left: 14rem;
    display: block;
    text-align: center;
} */
