*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: white;
  
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(wp2908940-4024707083.png);
    background-position: center 70%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
    text-align: center;
    border: 1px solid white
}
h1{
    margin: 2rem auto;
}
#startButton {
    display: block;
    margin: 20px auto;
    padding: 5px 20px;
    background-color: rgb(33, 239, 33);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100%;
}
